---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/unknown/unknown?client_id=<GITHUB_API_KEY>&client_secret=<GITHUB_API_SECRET>
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
      - '1392039640'
      X-Github-Media-Type:
      - github.beta
    body:
      encoding: UTF-8
      string: '{"message":"Not Found","documentation_url":"http://developer.github.com/v3"}'
  recorded_at: Mon, 10 Feb 2014 12:45:54 GMT
recorded_with: VCR 2.8.0
