// repos.sass

@import 'foundation'

// Repo
.repo_overview
  clear: both
  padding-bottom: 2rem
  line-height: 1.6

  // Owner and Name, i.e. bootstrap by twitter
  .name
    font-weight: bold
  .owner

  .watchers
    margin-left: 1.2rem
    // Icon
    &:before

  // Description
  .description

  // Activity
  .activity
    margin-left: 1.2rem

  // Hidden Stats
  .knight_score, .updated_at
    display: none

  // Child Margins and Paddings
  &.child

// Repo Header (Repo Show View)
.repo_header
  line-height: 1.6
  
  .name_and_owner 
    .name
    .owner

  .description
    clear: both

  .watchers, .activity
    margin-left: 1.2rem

  .category_list
    margin-top: 1.8rem

  .category_list_edit
    margin-top: 1.8rem

#github_repo
  margin-bottom: 2.4rem

// Activity
.activity
  // Activity colors
  //   one == < 4.months
  //   two == 4.months - 12.months
  //   three == 12.months - 24.months
  //   four == > 24.months
  &.one
    color: #090
  &.two
  &.three
  &.four

  // Icon
  &:before