// repos.sass

@import 'variables'

//
// Repo
// (repos#index, categories#show, repos#show (alternatives section))
//
.repo
  clear: both
  padding-bottom: 2rem
  line-height: 1.6

  // Owner and Name, e.g. bootstrap by twitter
  .n
    font-weight: bold
  .o

  .stars
    margin-left: 1.2rem
    i // Icon
      color: $mainColor

  // Description
  .d

  // Activity and Toggle Children link
  .ac, .toggle_children
    margin-left: 1.2rem

  // Knight score and github_updated_at
  .ks, .ua
    display: none

  &:last-of-type
    padding-bottom: 1rem

  //
  // Child repos
  // (repos#index, categories#show, repos#show (alternatives section))
  //

  // Toggle children
  .toggle_children

  // Child List
  .child_list
    // Hidden by default
    display: none

  // Child Margins and Paddings
  .child_list > .repo
    padding-bottom: 0
    padding-left: 2rem
    margin: 1rem 0
    border-left: 1px dashed $mainColor

    &:last-of-type
      padding-bottom: 0
      margin-bottom: 0

// Repo Header (repos#show)
.repo_header
  line-height: 1.6

  .name_and_owner
    display: inline-block
    font-weight: normal
    margin-bottom: 0
    .owner
    .name
      font-weight: bold

  .star_button
    margin-left: 1.5rem

  .label
    margin-left: 0.8rem
    bottom: 5px

  .description
    clear: both

  .activity
    margin-left: 1.5rem

  .category_list
    margin: 1.25rem 0 2.5rem
    // Each category line
    .repo_category
      .full_name
        font-weight: bold
      .stats
        color: #777
        font-weight: 14px

// Activity
.ac
  // Activity colors
  //   a1 == < 3.months
  //   a2 == 3.months - 10.months
  //   a3 == 10.months - 20.months
  //   a4 == > 20.months
  &.a1
    color: #88C425
  &.a2
    color: #519548
  &.a3
    color: #999
  &.a4
    color: #ccc

  // Icon
  &:before

