h1 #{ @services.length } awesome services for developers

= link_to icon(:plus, 'New service'), new_service_path
br
br

.services-index
  .services-wrapper
    = render partial: 'services/detailed_service', collection: @services, as: :service

= link_to icon(:plus, 'New service'), new_service_path
