/ repos/edit

= semantic_form_for @repo do |f|

  = f.inputs do
    = f.input :description
    = f.input :label

    = f.input :categories
    = f.input :parents

  = f.actions

  / = f.input :category_list


/ h6 Edit this repo ( #{ @repo.full_name } )
/ .category_list_edit
/   = form_for @repo do |f|
/     / Categories
/     / = f.label :category_list, "Categories  <em>Style: 'My Category (Ruby/JS/Design)'</em>".html_safe
/     / div style='padding-bottom: 1rem' = f.text_field :category_list, autocomplete: 'off'

/     / Parents
/     / = f.label :parent_list, 'Parents'
/     / div style='padding-bottom: 1rem'
/     /   = f.select :parent_list, options_for_select(Repo.order_by_knight_score.pluck(:full_name), @repo.parents.map(&:full_name)), {}, {multiple: true}

/     / Description
/     = f.label :description
/     = f.text_area :description, rows: 2

/     / Label
/     = f.label :label
/     = f.text_field :label

/     / Submit
/     = f.submit 'Save Categories', class: 'small radius button'

/ / Category Names Autocomplete
/ - category_full_names = Category.order_by_knight_score.pluck(:full_name).to_json.html_safe
/ javascript:
/   $('#repo_category_list').select2({tags: #{ category_full_names }, placeholder: 'Find or create tags'});

/ / Parent List
/ javascript:
/   $('#repo_parent_list').select2();

/ hr
