/ repos/new
- @repo = @repo.decorate

=> link_to @repo.owner_and_name, @repo.github_url
' is not yet listed on Plugingeek yet. Do you want to create it on Plugingeek?

= button_to repos_path(owner_and_name: @repo.owner_and_name), class: 'btn btn-primary' do
  span = "Create #{@repo.owner_and_name} on Plugingeek"
