/ inline javascripts in head

/ google analytics in production
/ TODO: Extract env vars
- if Rails.env.production?
  javascript:
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-33644736-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

/ gauges in production
/ TODO: Extract env vars
- if Rails.env.production?
  javascript:
    var _gauges = _gauges || [];
    (function() {
      var t   = document.createElement('script');
      t.type  = 'text/javascript';
      t.async = true;
      t.id    = 'gauges-tracker';
      t.setAttribute('data-site-id', '516e8de5108d7b0e3b000005');
      t.src = '//secure.gaug.es/track.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(t, s);
    })();

/ LiveReload (in development only)
/   reloading browser in development when file changes in the directories
/   livereload is watching are being noticed
- if Rails.env.development?
    javascript:
      document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')
