.new-link-wrapper
  h2 Submit a Link

  p.left-line You can submit noteworthy blog posts, webpages, and other links to pluginGeek. Connect them with existing Github projects and Categories afterwards, where they will be displayed. <br/ >Thanks for your contributions.

  = render 'form'
