// categories.sass
@import 'joint/joints'


//
.categories_search_and_sort


// category (in list)
.category
  line-height: 24px
  padding: 16px 0

  .name
    font-weight: bold
    font-size: 16px
  .lang
    font-weight: normal
    margin-left: 7px

  .watcher_count
    margin-left: 10px
  .repo_count
    margin-left: 8px

  .description
    display: block

  .popular_repos
    .repo_owner
      color: #7e7e7e
    .repo_name

  .all_repos, .knight_score
    display: none

  // Font Sizes
  .lang, .watcher_count, .repo_count, .popular_repos
    font-size: 14px
  //    Icons
  .watcher_count:before, .repo_count:before
    font-size: 16px



// Category header in show view
.category_header
  .name
    display: block
    font-weight: bold
    font-size: 24px

  .description