// categories.sass

// Category in List (categories#index)
.category
  padding-bottom: 2rem
  line-height: 1.6
  clear: both

  .category_group
    cursor: pointer
  .category_name
    font-weight: bold

  .stars
    margin-left: 1rem
    i // Icon
      color: $mainColor

  .label
    margin-left: 1.2rem

  .popular_repos
    .repo_name
    .repo_owner

  .description

  .all_repos, .knight_score
    display: none


// Category Header (categories#show)
.category_show
  .description
  .edit_description

