// categories.sass

// Category in List (categories#index)
.category
  padding-bottom: 2rem
  line-height: 1.6
  clear: both

  .category_group
    cursor: pointer
  .category_name
    font-weight: bold

  .stars
    margin-left: 1rem
    i // Icon
      color: $mainColor

  .label
    margin-left: 1.2rem

  .popular_repos
    .repo_name
    .repo_owner

  .description

  .all_repos, .knight_score
    display: none


// Category Header (categories#show)
.category_show

  // Edit description link in the upper right
  .edit_description

  // Full name header with icon and stars
  .full_name
    i // Icon
      color: $mainColor
      margin-right: 1rem
      font-size: 2.1rem

  // Stars
  .stars_header
    margin-left: 1rem
    font-size: 1.8rem
    i
      color: $mainColor

// Tab title
.title
  margin-top: 0
  padding-top: 0


