<%= paginator.render do -%>
  <div class="pagination">
    <%= prev_page_tag -%>
    <span class='pagination_link is_disabled'>&nbsp;&hellip;&nbsp;</span>
    <%= next_page_tag -%>
  </div>
<% end -%>