/ inline javascript in body

/ List.js: Categories
/   Note: Lists will be initalized here so I can access them in their respective variables
javascript:
  var categories_list_options = {
      valueNames: ['js-name', 'js-description', 'js-knight-score', 'js-repos', 'js-further-repos']
    };

  categories_list_options['page'] = $('.list').data('page') || 1000
javascript:
  var categoriesList = new List('js-categories-list', categories_list_options);

/ List.js: Repos
javascript:
  var repos_list_options = {
      valueNames: ['js-name', 'js-owner', 'js-label', 'js-description', 'js-knight-score', 'js-timestamp']
    };

  repos_list_options['page'] = $('.list').data('page') || 1000

javascript:
  var reposList = new List('js-repos-list', repos_list_options);


/ Swiftype-powered Autocomplete
/ for landing page
/ javascript:
/   var swiftype_engine_key = "#{ ENV['SWIFTYPE_ENGINE_KEY'] }"

/ coffee:
/   suggestionRender = (data, type) ->
/    console.log data
/    repo = data
/    "#{ repo.owner }/<b>#{ repo.name }</b> <em>(#{ repo.stars })</em>"
/
/  $('#search-input').swiftmate {
/    engineKey: swiftype_engine_key
/    renderCallback: suggestionRender
/    sortField: {repos: 'stars'}
/    sortDirection: {repos: 'desc'}
/    fetchFields: {
/      repos: ['owner', 'name', 'stars']
/    }
/  }
