// experiments-in-sass

// search field spanning entire page
.search
  width: 100%
  padding: 10px 14px
  font-size: 1.272rem
  color: #444

  border: 3px solid #ccc
  @include box-shadow(inset 0 2px 3px black(0.05))
  border-radius: $radius

  &:focus
    outline: none
    background: #fff
    border-color: $border-primary

// sorting
.sort-list
  margin: 0.5rem 0
  font-size: 0.875rem
  color: $text-secondary
  text-align: right

  // items
  a
    padding: 0
    margin: 0
    @extend .hover-link
    &.active
      font-weight: 600

  // divider in sort-list
  .divider:before
    content: "\a0or\a0"

// box
.box
  min-height: 152px

  font-size: 0.875rem
  line-height: 24px !important // all lines same height, regardless of font-size
  color: $text

  border-radius: $radius

  background-color: white(0.6) // lighten background
  //                            // (sync with primary and secondary text colors)

  @include box-shadow(0 0px 3px black(0.3))

// box spanning six columns
.half-box
  @extend .box

@include media(min-width 631px)
  .half-box
    // two element block grid
    @include span-columns(6)
    @include nth-omega(2n)
    padding: 0.9rem 1.2rem


@include media(max-width 630px)
  .half-box
    @include span-columns(12)
    min-height: 0 !important
    padding: 0.5rem 0.7rem


// display all matches link / button
.show-all
  @extend .button
  text-align: center

// truncation via trunk8
.js-read-more,
.js-read-less
  cursor: pointer

// pickadate
.pickadate__button--clear::before
  content: 'x'

// muted, secondary text
.muted
  color: $text-secondary

// labels
.label-element
  padding: 2px 5px
  background: $label-bg
  border-radius: $radius
  font-size: 12px
  font-weight: bold
  color: $primary

// formtastic changes
.formtastic
  input, textarea
    font-family: $body-fonts

  .inline-hints
    font-size: 0.875rem
    color: #555

    &:before
      content: '\2192 \a0'

  .label
    @extend .label-element
    font-size: 14px

  .button
    line-height: 2

// select2 changes
.select2-container
  .select2-search-choice
    padding: 4px 8px 4px 16px!important
    background: rgba($blue, 0.25) !important
    border: none !important
    font-size: 14px
    font-weight: bold

// spaces
.space-quarter
  height: 0.25rem
.space-half
  height: 0.5rem
.space-one
  height: 1rem
.space-one-and-a-half
  height: 1.5rem
.space-two
  height: 2rem
.space-two-and-a-half
  height: 2.5rem
.space-three
  height: 3rem

// categories in overview
.categories-wrapper .category
  @extend .half-box
  background-color: rgba($primary, 0.07)

  .full-name
    display: block
  .name
    font-size: 1rem
    font-weight: 600
  .draft
    @extend .label-element
    margin-left: 0.45rem
  .language-list,
  .stars
    float: right
    color: $text-secondary
    margin-left: 6px
  .popular-repos
    display: block
    color: $text-secondary
  .description
    display: block

// repos in overview
.repos-wrapper .repo
  @extend .half-box

  .full-name
    display: block
  .name
    font-size: 1rem
    font-weight: 600
  .owner
    color: $text-secondary
  .staff-pick
    @extend .label-element
    margin-left: 0.45rem
  .stars
    float: right
    margin-left: 6px
    color: $text-secondary
  .description
    display: block
  .homepage-link
    display: block
  .activity
    &:before
      content: 'Updated \2192 \a0'
      color: $text-secondary

// colors hightlighting a project's most recent timestamp on Github
.activity
  abbr
    border-bottom: none
  &.very-high
    color: $very-high-activity
  &.high
    color: $high-activity
  &.medium
    color: $medium-activity
  &.low
    color: $low-activity
  &.very-low
    color: $very-low-activity

// category details
.category-details
  font-size: 0.9375rem
  margin-bottom: 1rem
  .name
    font-size: 1.618rem
    font-weight: 600
  .details
    .draft
      @extend .label-element
      padding-top: 3px
      padding-bottom: 3px
      position: relative
      bottom: 2px
      margin-left: 1rem
    .language-list,
    .stars
      margin-left: 1rem
      color: $text-secondary
    .edit-link
      margin-left: 1rem
  .description
    display: block

// Guides for drafting a category's descriptions
// (displayed when editing category)
.descriptions-of-repos
  table
    border: 1px solid $border-tertiary
    th, td
      padding: 0.2em 0.4rem
      border-right: 1px solid $border-tertiary
      text-align: left
    tr:nth-child(odd)
      background: #e9e9e9
  // Table cells
  .repo
    .name
      font-weight: 600
    .score
      text-align: right
      font-family: monospace
      font-size: 1rem
    .description

// repo details
.repo-details
  font-size: 0.9375rem
  .name-and-owner
    font-size: 1.618rem
    font-weight: 600
    i
      margin-right: 9px
    .name
    .owner
      font-weight: 400
  .details
    > *
      margin-left: 1rem // settled after careful experimentation :-D
    .stars
      color: $text-secondary
    .star-on-github-link
      position: relative
      top: 4px
      padding-left: 1px // right one added by iframe width
    .staff-pick
      @extend .label-element
      padding-top: 3px
      padding-bottom: 3px
      position: relative
      bottom: 2px
    .edit-link

  .description
    display: block
  .homepage-url
  .activity
    margin-left: 1rem

// headers at repo-details
.section-header
  font-size: 0.875rem
  color: $text-secondary

  .primary
    font-size: 1.272rem
    color: #333
    margin-left: 0
  > *
    margin-left: 0.5rem
  .sort-list
    display: inline
    float: right

// no X (links, parents, children) to display yet
.none-yet
  font-size: 0.875rem
  color: $text-secondary

// readme at repo-details
// outer box
.readme-container
  @extend .box
  padding: 12px 2.35765%
  background: white(1) // white background

// where readme is inserted
.readme-target
  position: relative
  overflow: hidden

  // height classes set via js
  &.max-height
    height: 425px
  &.auto-height
    height: auto

  // toggle readme
  .toggle-readme
    position: absolute
    bottom: -12px // to offset parents padding-bottom
    left: 0
    width: 100%
    text-align: center
    margin: 0
    padding: 80px 0 20px

    @include background-image(linear-gradient(white(0) 0%, white(1) 80%, white(1) 100%))



// headline in all views
.headline
  display: block
  margin-top: 4px
  font-size: 2.058rem
  font-weight: 600
  line-height: 2rem

// flash messages
.flash-message
  padding: 0.4rem 0 0.35rem 1rem
  margin-bottom: 1.5rem
  border-radius: $radius
  background: $flash-message-bg
  @include box-shadow(0 2px 3px black(0.22))

  cursor: pointer // close on click
  .close
    float: right
    padding: 0.85rem 1rem
    line-height: 0 // adjust height
    font-size: 1.272rem
    color: #999
    text-decoration: underline

// services
.services-wrapper .service
  @extend .half-box
  background: $services-background
  color: #151515

  .name
    display: block
    font-size: 1rem
    font-weight: 600

  .url
    display: block

  .pitch
    display: block

// add new repo
.add-repo-wrapper
  .name-and-owner
    font-size: 1.618rem
    font-weight: 600
    i
      margin-right: 9px

// buttons
.button
  padding: 0.6rem 1.2rem !important // width
  background: $primary
  color: #eee !important // overrides link color
  cursor: pointer
  font-size: 0.9375rem
  font-weight: 600 !important

  border: none !important // override 'button' element border
  border-radius: $radius
  @include transition(all 0.2s ease-in)

  &:hover
    background: lighten($primary, 7%)

  &.medium
    padding: 0.6rem 1.2rem !important // imp to override button
    font-size: 1rem
    font-weight: 400 !important

  &.large
    padding: 0.6rem 1.2rem !important // imp to override button
    font-size: 1.15rem
    font-weight: 400 !important

  &.secondary
    background: #999
    &:hover
      background: $primary

  // button while loading
  &[disabled], &.disabled
    background: #c5c5c5

// secondary footer
@import "compass/layout/sticky-footer"
@include sticky-footer(180px, "#root", "#root_footer", "#footer")

$footer-spacing: 8px
$footer-borders: 1px dashed #999

.footer
  margin-top: 24px
  border-top: $footer-borders
  padding-top: 12px

  font-size: 0.875rem

  // links in footer
  ul.links
    float: left
    li
      display: inline
      padding-right: $footer-spacing
      margin-right: $footer-spacing
      border-right: $footer-borders
      &:last-of-type
        border-right: none

  // greeting and maker's name in footer
  .greeting
    float: right
    span
      padding-left: $footer-spacing
      margin-left: $footer-spacing
      border-left: $footer-borders
      &:first-of-type
        border-left: none

// decorative text left line
.left-line
  margin-left: -1rem
  padding-left: 1rem
  border-left: 2px solid $primary
  line-height: 1.45

// floats
.left
  float: left
.right
  float: right

// links
.links-wrapper .link
  .title
  .author
  .date
  .edit-link
    line-height: 1rem
    margin-left: 0.5rem

// forms
form
  .field
    margin-bottom: 1rem
    label
      display: block
      font-weight: 600
    input
      width: 100%
    .hint
      background: $label-bg
      padding: 0 0.35rem

// form errors
// Style for the form fields and labels with errors.
.field_with_errors
  padding: 0.2rem 0.8rem
  background: rgba(red, 0.2)

// Style for the div element with the error messages.
.errorExplanation
  margin-bottom: 0.5rem
  padding: 0.8rem 1rem
  background: rgba(red, 0.2)
  // Style for the header of the div element.
  h2
    font-size: 1.272rem
  // Style for the paragraph holding the message that appears right below the header of the div element.
  p
  // Style for the list items with individual error messages.
  ul
    list-style: square
    padding-left: 30px
    li

// page titles
.page-title
  font-size: 1.618rem
  font-weight: 600

h1, h2, h3, h4, h5, h6
  margin: 0
  padding: 0
p
  margin: 0

// intercom inbox link in footer
#Intercom
  display: inline-block
  // counter
  em
    margin-left: 0.25rem
    font-style: normal
    background: #912
    color: #f9f9f9
    padding: 4px 10px
    border-radius: 99px
    margin-right: -0.25rem

.feedback-form-intercom
  width: 300px
  margin: 0 auto
  margin-top: 0.8rem
  text-align: center
  .subscript
    margin-top: 0.5rem
    @extend .muted
