// experiments-in-sass

// search field spanning entire page
.search
  width: 100%
  padding: 10px 14px
  font-size: 16px
  color: #444

  border: 3px solid #ccc
  @include box-shadow(inset 0 2px 3px black(0.05))
  border-radius: $radius

  &:focus
    outline: none
    background: #fff
    border-color: $border-primary

// sorting
.sort-list
  margin: 0.5rem 0
  font-size: 0.875rem
  color: $text-secondary

  // items
  a
    padding: 0
    margin: 0
    @extend .hover-link
    &.active
      font-weight: 600

  // divider in sort-list
  .divider:before
    content: "\a0or\a0"

// muted, secondary text
.muted
  color: $text-secondary

// labels
.label-element
  padding: 2px 5px
  background: $label-bg
  border-radius: $radius
  font-size: 12px
  font-weight: bold
  color: $primary


// colors hightlighting a project's most recent timestamp on Github
.activity
  abbr
    border-bottom: none
  &.very-high
    color: $very-high-activity
  &.high
    color: $high-activity
  &.medium
    color: $medium-activity
  &.low
    color: $low-activity
  &.very-low
    color: $very-low-activity

// Guides for drafting a category's descriptions
// (displayed when editing category)
.descriptions-of-repos
  table
    border: 1px solid $border-tertiary
    th, td
      padding: 0.2em 0.4rem
      border-right: 1px solid $border-tertiary
      text-align: left
    tr:nth-child(odd)
      background: #e9e9e9
  // Table cells
  .repo
    .name
      font-weight: 600
    .score
      text-align: right
      font-family: monospace
      font-size: 1rem
    .description



// headers at repo-details
.section-header
  font-size: 0.875rem
  color: $text-secondary

  .primary
    font-size: 1.272rem
    color: #333
    margin-left: 0
  > *
    margin-left: 0.5rem
  .sort-list
    display: inline
    float: right

// no X (links, parents, children) to display yet
.none-yet
  font-size: 0.875rem
  color: $text-secondary



// headline in all views
.headline
  display: block
  margin-top: 4px
  font-size: 2.058rem
  font-weight: 600
  line-height: 2rem

.add-repo-wrapper
  .name-and-owner
    font-size: 1.618rem
    font-weight: 600
    i
      margin-right: 9px

// buttons
.button
  padding: 0.6rem 1.2rem !important // width
  background: $primary
  color: #eee !important // overrides link color
  cursor: pointer
  font-size: 0.9375rem
  font-weight: 600 !important

  border: none !important // override 'button' element border
  border-radius: $radius
  @include transition(all 0.2s ease-in)

  &:hover
    background: lighten($primary, 7%)

  &.medium
    padding: 0.6rem 1.2rem !important // imp to override button
    font-size: 1rem
    font-weight: 400 !important

  &.large
    padding: 0.6rem 1.2rem !important // imp to override button
    font-size: 1.15rem
    font-weight: 400 !important

  &.secondary
    background: #999
    &:hover
      background: $primary

  // button while loading
  &[disabled], &.disabled
    background: #c5c5c5

// secondary footer
@import "compass/layout/sticky-footer"
@include sticky-footer(180px, "#root", "#root_footer", "#footer")

$footer-spacing: 8px
$footer-borders: 1px dashed #999

.footer
  margin-top: 24px
  border-top: $footer-borders
  padding-top: 12px

  font-size: 0.875rem

  // links in footer
  ul.links
    float: left
    li
      display: inline
      padding-right: $footer-spacing
      margin-right: $footer-spacing
      border-right: $footer-borders
      &:last-of-type
        border-right: none

  // greeting and maker's name in footer
  .greeting
    float: right
    span
      padding-left: $footer-spacing
      margin-left: $footer-spacing
      border-left: $footer-borders
      &:first-of-type
        border-left: none

// decorative text left line
.left-line
  margin-left: -1rem
  padding-left: 1rem
  border-left: 2px solid $primary
  line-height: 1.45

// floats
.left
  float: left
.right
  float: right

// links
.links-wrapper .link
  .title
  .author
  .date
  .edit-link
    line-height: 1rem
    margin-left: 0.5rem

// page titles
.page-title
  font-size: 1.618rem
  font-weight: 600
