* {
	margin: 0;
	padding: 0;
}

body {
	background: #2388c9;
	width: auto;
	height: 100%;
	font-family:'Myriad Pro', Arial, Helvetica, Tahoma, sans-serif;
}

a, a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#container  {
	min-width:900px;
	position:relative;
	width:100%;
}


/* ANIMATION */

#stage {
	top: 0px;
	left: 0px;
	z-index: 100;
}

.stage {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-width: 900px;
	min-height: 890px;
	height:100%;
	overflow: hidden;
}

#clouds {
	background: #248bc9 url(../images/cloud.jpg) 0 0 repeat-x;
}


/* CONTENT */

#ticket {
	background: transparent url(../images/ticket.png) 0 0 no-repeat;
	width:801px;
	height:340px;
	z-index: 1000;
	position: relative;
    display: block;
	margin:auto;
	top:200px;
}

#ticket_left {
	width:550px;
	height:310px;
	margin-left:42px;
	float:left;
}

#ticket_right {
	width:209px;
	height:310px;
	float:right;
}

#ticket p.text1_a {
	text-transform:uppercase;
	color:#fff;
	font-family:'Candal', Arial, Helvetica, Tahoma, sans-serif;
	font-size:45px;
	letter-spacing:-3px;
	position:absolute;
	left:77px;
	top:49px;
}

#ticket p.text2_a {
	text-transform:uppercase;
	color:#fff;
	font-family:'Inconsolata', Arial, Helvetica, Tahoma, sans-serif;
	font-size:21px;
	letter-spacing:1px;
	position:absolute;
	left:323px;
	top:99px;
}

#ticket p.text3_a {
	text-transform:uppercase;
	color:#fff;
	font-family:'Candal', Arial, Helvetica, Tahoma, sans-serif;
	font-size:42px;
	letter-spacing:-3px;
	position:absolute;
	left:77px;
	top:113px;
}

#ticket p.text4_a {
	text-transform:uppercase;
	color:#fff;
	font-family:'Inconsolata', Arial, Helvetica, Tahoma, sans-serif;
	font-size:18px;
	font-weight:normal;
	letter-spacing:1px;
	position:absolute;
	left:77px;
	top:177px;
}

#ticket p.text5_a {
	color:#272727;
	font-family:'Inconsolata', Arial, Helvetica, Tahoma, sans-serif;
	font-size:15px;
	font-weight:normal;
	letter-spacing:1px;
	position:absolute;
	left:88px;
	top:203px;
}

#ticket p.text6_a {
	text-transform:uppercase;
	color:#909090;
	font-family:'Inconsolata', Arial, Helvetica, Tahoma, sans-serif;
	font-size:22px;
	font-weight:normal;
	letter-spacing:1px;
	position:absolute;
	left:88px;
	top:220px;
}

#ticket p.text7_a {
	color:#272727;
	font-family:'Inconsolata', Arial, Helvetica, Tahoma, sans-serif;
	font-size:15px;
	font-weight:normal;
	letter-spacing:1px;
	position:absolute;
	left:269px;
	top:203px;
}

#ticket p.text8_a {
	text-transform:uppercase;
	color:#909090;
	font-family:'Inconsolata', Arial, Helvetica, Tahoma, sans-serif;
	font-size:22px;
	font-weight:normal;
	letter-spacing:1px;
	position:absolute;
	left:270px;
	top:220px;
}

#ticket p.text9_a {
	color:#272727;
	font-family:'Inconsolata', Arial, Helvetica, Tahoma, sans-serif;
	font-size:15px;
	font-weight:normal;
	letter-spacing:1px;
	position:absolute;
	left:418px;
	top:185px;
}

#ticket p.text10_a {
	color:#272727;
	font-family:'Inconsolata', Arial, Helvetica, Tahoma, sans-serif;
	font-size:50px;
	font-weight:normal;
	letter-spacing:1px;
	position:absolute;
	left:417px;
	top:195px;
}

#ticket p.text11_a {
	color:#272727;
	font-family:'Inconsolata', Arial, Helvetica, Tahoma, sans-serif;
	font-size:15px;
	font-weight:normal;
	letter-spacing:1px;
	position:absolute;
	left:88px;
	top:261px;
}

#ticket p.text12_a {
	text-transform:uppercase;
	color:#909090;
	font-family:'Inconsolata', Arial, Helvetica, Tahoma, sans-serif;
	font-size:15px;
	font-weight:normal;
	letter-spacing:1px;
	position:absolute;
	left:88px;
	top:279px;
}

#ticket p.text12_a a {
	color:#909090;
}

#ticket p.text1_b {
	text-transform:uppercase;
	color:#272727;
	font-family:'Candal', Arial, Helvetica, Tahoma, sans-serif;
	font-size:15px;
	letter-spacing:-1px;
	position:absolute;
	left:604px;
	top:31px;
}

#ticket p.text2_b {
	text-transform:uppercase;
	color:#272727;
	font-family:'Inconsolata', Arial, Helvetica, Tahoma, sans-serif;
	font-size:13px;
	font-weight:normal;
	letter-spacing:-1px;
	word-spacing:-3px;
	position:absolute;
	left:604px;
	top:48px;
}

#ticket p.text3_b {
	color:#272727;
	font-family:'Inconsolata', Arial, Helvetica, Tahoma, sans-serif;
	font-size:15px;
	font-weight:normal;
	letter-spacing:1px;
	position:absolute;
	left:604px;
	top:103px;
}

#ticket p.text4_b {
	text-transform:uppercase;
	color:#909090;
	font-family:'Inconsolata', Arial, Helvetica, Tahoma, sans-serif;
	font-size:22px;
	font-weight:normal;
	letter-spacing:1px;
	position:absolute;
	left:604px;
	top:119px;
}

#ticket p.text5_b {
	color:#272727;
	font-family:'Inconsolata', Arial, Helvetica, Tahoma, sans-serif;
	font-size:15px;
	font-weight:normal;
	letter-spacing:1px;
	position:absolute;
	left:604px;
	top:163px;
}

#ticket p.text6_b {
	text-transform:uppercase;
	color:#909090;
	font-family:'Inconsolata', Arial, Helvetica, Tahoma, sans-serif;
	font-size:22px;
	font-weight:normal;
	letter-spacing:1px;
	position:absolute;
	left:604px;
	top:179px;
}

#ticket p.text7_b {
	color:#272727;
	font-family:'Inconsolata', Arial, Helvetica, Tahoma, sans-serif;
	font-size:15px;
	font-weight:normal;
	letter-spacing:1px;
	position:absolute;
	left:604px;
	top:220px;
}

#ticket p.text8_b {
	color:#272727;
	font-family:'Inconsolata', Arial, Helvetica, Tahoma, sans-serif;
	font-size:30px;
	font-weight:normal;
	letter-spacing:1px;
	position:absolute;
	left:604px;
	top:234px;
}

#ticket p.text9_b {
	color:#272727;
	font-family:'Inconsolata', Arial, Helvetica, Tahoma, sans-serif;
	font-size:60px;
	font-weight:normal;
	letter-spacing:1px;
	position:absolute;
	left:722px;
	top:209px;
}

#ticket p.text10_b {
	color:#272727;
	font-family:'Inconsolata', Arial, Helvetica, Tahoma, sans-serif;
	font-size:10px;
	font-weight:normal;
	letter-spacing:0px;
	position:absolute;
	left:682px;
	top:268px;
}