.category
  &:not(:last-of-type)
    margin-bottom: 12px

  &.is_draft

.category__name
  display: inline
  font-weight: bold
  margin-right: 12px

.category__platform_icon
  height: 12px
  margin-right: 5px

.category__stars,
.category__repos_count
  display: inline
  font-size: 14px
  margin-right: 12px

.category__description
  display: block
  color: #444