.category
  &:not(:last-of-type)
    margin-bottom: 12px

  &.is_draft

.category__name
  display: inline
  font-weight: bold
  margin-right: 6px

.category__stars
  display: inline
  font-size: 14px

  .icon
    margin-right: 4px

.category__description
  display: block