html, body
  height: 100%
  background-image: image-url('backgrounds/rough_diagonal.png')

.page_container
  width: 960px
  margin: 0 auto
  min-height: 100%

.page_content
  margin: 50px auto 12px
  padding: 20px
  background: #f7f7f7
  border-right: 1px solid #bbb
  border-left: 1px solid #bbb
  box-shadow: 0px 0px 2px #777

.page_footer
  text-align: center
  color: #777
  font-size: 13px
  line-height: 20px
  margin-bottom: 36px
