// partial
.r
  &:not(:last-of-type)
    margin-bottom: 14px

.r__github_link
  margin-right: 6px

.r__owner_and_name
  display: inline
  font-weight: 700
  margin-right: 12px

.r__stars
  display: inline
  font-size: 14px

.r__description
  display: block
  color: #444

.r__homepage_link
  font-size: 15px

.r__last_updated
  font-size: 12px
  color: #555

.r__staff_pick
  margin-left: 10px
  @extend .inline_label

.inline_label
  display: inline
  font-size: 12px
  font-weight: 800
  color: $olive
  background: $silver
  padding: 2px 5px
  border-radius: 3px

  .label
    font-weight: 800