// basics
body
  // padding: 0 16px // make body stay way from bowser edges
  font-family: $fonts
  font-size: 100%
  line-height: 1.618
  color: $primary-text-color

  // backgrounds
  // background: image-url('backgrounds/debut_light.png') // 3
  // background: image-url('backgrounds/pw_maze_white.png') // 3
  // background: image-url('backgrounds/subtle_freckles.png') // 2
  // background: image-url('backgrounds/light_alu.png') // 1, darker

// headers
h1, h2, h3, h4, h5, h6
  margin: 0
  padding: 0

// paragraphs
p
  margin: 0
  line-height: 1.4

// unordered lists
ul
  list-style: none
  padding: 0
  margin: 0

// links
a
  text-decoration: none
  color: $even-darker-blue
  cursor: pointer
  &:link, &:hover, &:active, &:visited
    color: $even-darker-blue

// webfont icons
i
  margin-right: 4px

// floats
.left
  float: left
.right
  float: right

// peek
#peek .wrapper
  width: 1085px
