// categories

//
// category
//
.categories-wrapper .category
  font-size: 14px
  .full-name
    display: block
  .name
    font-size: 16px
    font-weight: 600
  .draft
    margin-left: 12px
  .stars
    margin-left: 12px
  .language-list
    color: $secondary-text-color
    margin-left: 12px
  .popular-repos
    display: block
    color: $secondary-text-color
  .description
    display: block
    white-space: pre-line

  &:not(:first-child)
    margin-top: 10px
  &:not(:last-child)
    margin-bottom: 10px

  &.non-draft
    @extend .left-line

//
// category details header
//
.category-details
  font-size: 0.9375rem
  margin-bottom: 8px

  .name
    font-size: 1.618rem
    font-weight: 600
  .details
    .draft
      @extend .label-element
      padding-top: 3px
      padding-bottom: 3px
      position: relative
      bottom: 2px
      margin-left: 1rem
    .language-list,
    .stars, .edit-link
      margin-left: 1rem
  .description
    display: block


// Guides for drafting a category's descriptions
// (displayed when editing category)
.descriptions-of-repos
  table
    border: 1px solid #ccc
    th, td
      padding: 0.2em 0.4rem
      border-right: 1px solid #ccc
      text-align: left
    tr:nth-child(odd)
      background: #e9e9e9
  // Table cells
  .repo
    .name
      font-weight: 600
    .score
      text-align: right
      font-family: monospace
      font-size: 1rem
    .description
