// elements

// labels
.label-element
  padding: 2px 5px
  background: $label-background-color
  font-size: 12px
  color: #fff
  text-rendering: optimizeLegibility
  border-radius: 1px
  @include box-shadow(1px 1px 3px black(0.1))

// decorative text left line
.left-line
  margin-left: -16px
  border-left: 2px solid $lighter-blue
  padding-left: 14px

// page titles
.page-title
  font-size: 1.618rem
  font-weight: 600

// pre-wrapped text
.pre-wrap
  white-space: pre-wrap

//
// buttons
//

.button
  padding: 0.5rem 1rem !important
  background: $button-color
  border: none !important
  cursor: pointer
  color: $light-text-on-dark-background-color !important

  @include transition(background 0.2s ease-in)

  &:hover
    background: $button-hover-color

  &.danger
    background: $button-danger-color
    &:hover
      background: $button-danger-hover-color

  &[disabled], &.disabled
    background: $button-disabled-color

//
// flash messages
//

// flash messages container
.flash-messages
  margin-bottom: 10px

  // individual flash message
  .flash-message
    padding: 0.4rem 0 0.35rem 1rem
    background: $flash-message-background-color
    cursor: pointer // close on click

    // close button
    .close
      float: right
      padding: 0.85rem 1rem
      line-height: 0 // adjust height
      font-size: 1.272rem
      color: #999

//
// spaces
//

.space-quarter
  height: 0.25rem
.space-half
  height: 0.5rem
.space-one
  height: 1rem
.space-one-and-a-half
  height: 1.5rem
.space-two
  height: 2rem
.space-two-and-a-half
  height: 2.5rem
.space-three
  height: 3rem
