// footer

$footer-spacing: 8px
$footer-borders: 1px solid #ccc

.footer
  padding: 1rem 0
  font-size: 14px

  ul li
    display: inline
    padding-right: $footer-spacing
    margin-right: $footer-spacing
    &:not(:last-of-type)
      border-right: $footer-borders

// footer

// $footer-spacing: 8px
// $footer-borders: 1px dashed #999

// .footer
//   margin-top: 24px
//   border-top: $footer-borders
//   padding-top: 12px

//   font-size: 0.875rem

//   // links in footer
//   ul.links
//     float: left
//     li
//       display: inline
//       padding-right: $footer-spacing
//       margin-right: $footer-spacing
//       border-right: $footer-borders
//       &:last-of-type
//         border-right: none

//   // greeting and maker's name in footer
//   .greeting
//     float: right
//     span
//       padding-left: $footer-spacing
//       margin-left: $footer-spacing
//       border-left: $footer-borders
//       &:first-of-type
//         border-left: none
