// footer

$footer-spacing: 8px
$footer-borders: 1px solid #ccc

// @import "compass/layout/sticky-footer"
// @include sticky-footer(90px)

// sticky footer
html,body
  height: 100%
#root
  clear: both
  min-height: 100%
  height: auto !important
  height: 100%
  margin-bottom: -90px

  #root_footer
    height: 90px

#footer
  clear: both
  position: relative
  height: 90px

#footer
  margin-top: 18px
  padding-top: 24px
  height: 72px
  background: #f5f5f5
  border-top: 1px solid #ccc
  font-size: 14px
  ul li
    display: inline
    padding-right: 8px
    margin-right: 8px
  ul li:not(:last-of-type)
    border-right: 1px solid #ccc
// sticky footer end

#footer
  margin-top: 18px
  padding-top: 24px
  height: 72px
  background: #f5f5f5
  border-top: 1px solid #ccc
  font-size: 14px

  ul li
    display: inline
    padding-right: $footer-spacing
    margin-right: $footer-spacing
    &:not(:last-of-type)
      border-right: $footer-borders
