// navigation
.primary-navigation
  padding-bottom: 8px

  ul
    li
      display: inline-block
      width: 20%
      text-align: center
      line-height: 40px

      background: lighten(#2980B9, 10%)
      color: #f9f9f9
      font-weight: 600
      text-rendering: optimizeLegibility

      &:hover
        background: #2980B9
        color: #fff
