// shared

// headers at repo-details
.section-header
  font-size: 0.875rem
  color: $secondary-text-color

  .primary
    font-size: 1.272rem
    color: #333
    margin-left: 0
  > *
    margin-left: 0.5rem
  .sort-list
    display: inline
    float: right

// no X (links, parents, children) to display yet
.none-yet
  font-size: 0.875rem
  color: $secondary-text-color



// headline in all views
.headline
  display: block
  margin-top: 4px
  font-size: 2.058rem
  font-weight: 600
  line-height: 2rem
