// variables

// basic variables
$body-fonts: 'proxima-nova', Arial, 'Helvetica Neue', Helvetica, sans-serif
$text: #393939            // primary text
$text-secondary: #959595  // muted, secondary text
$radius: 2px              // border radii

// colors
$blue: #126E9D
$green: #93CF29

// color assignments
$primary: $blue
$secondary: $green

$border-primary: $primary
$border-secondary: $secondary
$border-tertiary: #ccc

$services-background: lighten($secondary, 32%)
$label-bg: rgba($blue, 0.15)
$flash-message-bg: rgba($blue, 0.15)

// Colors hightlighting a project's last updated at activity
$very-high-activity: darken($green, 8%)
$high-activity: $text-secondary
$medium-activity: $text-secondary
$low-activity: $text-secondary
$very-low-activity: $text-secondary
