// Variables (_variables.sass)

// Font Sizes
$baseFontSize: 15px
$importantModNum: 45px

// Colors
// Ruby Colors
$rubyColor: #e41836
$rubyTextColor: #f9f9f9

$rubyHoverColor: darken($rubyColor, 11%)
$rubyHoverTextColor: #fff

$rubyActiveColor: darken($rubyColor, 6%)
$rubyActiveTextColor: #fff

// JS Colors
$jsColor: #205cc0

// Web Design Colors
$designColor: #077

// Foundation Colors
$mainColor: #008fd5
// $secondaryColor: #e9e9e9 !default
// $alertColor: #c60f13 !default
// $successColor: #5da423 !default
// $txtColor: #222 !default
// $highlightColor: #ffff99 !default
// $black: #000 !default
// $white: #fff !default
// $shinyEdge: rgba(#fff, .5) !default
// $darkEdge: rgba(#000, .2) !default
