// application.css.sass

// Normalize.css
@import 'normalize'

// Foundation Framework
$base-size: 15px 48px
$rubyColor: #912
$jsColor: #33a
$designColor: #077
$mainColor: #5959BA
$golden: 1.618
$gold: 1.618
@import 'foundation'
@import 'application/foundation_overrides'

// Bourbon SASS Mixins
@import 'bourbon'

// Application
@import 'application/application'

// Categories
@import 'categories/categories'
@import 'categories/category_description'

// Repos
@import 'repos/repos'

