// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Categories Index

body
  background: image_url("backgrounds/Background_01.png")

#tags_i
  max-width: 600px

.search
  display: block
  border-right: 1px solid #bbb
  border-bottom: 1px solid #bbb

  padding: 7px 10px 8px
  background: #fff
  font-size: 16px
  margin-bottom: 1em
  margin-top: 0.5em

  width: 577px

  @include border-radius(2px)

.search:focus
  outline: 4px #00a6fc solid !important

.sort, .reset
  display: inline-block
  text-align: center
  padding: 5px 10px 8px
  text-decoration: none
  font-weight: bold
  font-size: 15px
  line-height: 1
  font-family: "Helvetica Neue", "Helvetica", Arial, Verdana, sans-serif
  position: relative
  cursor: pointer
  border: none
  outline: none
  margin: 0
  @include border-radius(3px)
  margin-left: 5px
  background-color: #e9e9e9
  color: #333

.sort:hover, .reset:hover
  background-color: #d9d9d9
  color: #333

.sort.active
  background: #00a6fc
  color: #fff

.sort.active:hover
  background-color: #0192dd
  color: #fff

.sort:first-of-type
  margin-left: 147px

.reset
  background-color: #555
  color: #aaa

// Sort Icon

.sort_icon:before
  font-family: 'Pictos Custom'
  margin-right: 4px
  font-size: 22px
  line-height: 0
  vertical-align: middle
  color: #888

.sort_icon.active:before
  color: #ddd

.sort_icon.repo_count:before
  content: "r"

.sort_icon.watcher_count:before
  content: "e"

.sort_icon.name:before
  content: "n"

// Tags

.tags
  padding-top: 10px

.tag
  border-top: 1px solid #888

.tag
  line-height: 24px
  padding: 10px 0

  .name
    float: left
    font-size: 18px
    margin-right: 0.8em
    font-weight: bold

  .repo_count, .watcher_count
    float: left
    margin-left: 0.8em
    color: #aaa

  .repo_count:before, .watcher_count:before
    font-family: 'Pictos Custom'
    content: "r"
    margin-right: 4px
    font-size: 22px
    line-height: 0
    vertical-align: middle

  .watcher_count:before
    content: "e"

  .description
    display: block

  .popular_repos
    display: block
    color: #b5b5b5

  .all_repos
    display: none



.ruby_icon
  font-family: 'Pictos Custom'
  margin-right: 4px
  font-size: 22px
  line-height: 0
  vertical-align: middle

