// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Categories Index
.tag
  line-height: 24px

  border-bottom: 1px solid #ccc
  padding: 10px

  max-width: 500px

  .name
    float: left
    font-size: 18px
    margin-right: 0.8em

  .repo_count, .watcher_count
    float: left
    margin-left: 0.8em
    color: #999

  .repo_count:before, .watcher_count:before
    font-family: 'Pictos Custom'
    content: "r"
    margin-right: 4px
    font-size: 22px
    line-height: 0
    vertical-align: middle

  .watcher_count:before
    content: "e"

  .description
    display: block

  .popular_repos
    display: block
    color: #888

  .all_repos
    display: none


