/ application/_javascripts_body

/ List.js: Categories
/   Note: Lists will be initalized here so I can access them in their respective variables
javascript:
  var categories_list_options = {
      valueNames: ['full_name', 'knight_score', 'description', 'popular_repos', 'further_repos']
    };

  categories_list_options['page'] = $('.list').data('page') || 8
javascript:
  var categoriesList = new List('js-categories-list', categories_list_options);

/ List.js: Repos
javascript:
  var repos_list_options = {
      valueNames: ['owner', 'name', 'description', 'knight_score', 'activity']
    };

  repos_list_options['page'] = $('.list').data('page') || 8

javascript:
  var reposList = new List('js-repos-list', repos_list_options);


/ Swiftype-powered Autocomplete
/ for landing page
javascript:
  var swiftype_engine_key = "#{ ENV['SWIFTYPE_ENGINE_KEY'] }"

coffee:
  suggestionRender = (data, type) ->
    console.log data
    repo = data
    "#{ repo.owner }/<b>#{ repo.name }</b> <em>(#{ repo.stars })</em>"

  $('#search-input').swiftmate {
    engineKey: swiftype_engine_key
    renderCallback: suggestionRender
    sortField: {repos: 'stars'}
    sortDirection: {repos: 'desc'}
    fetchFields: {
      repos: ['owner', 'name', 'stars']
    }
  }

/ LiveReload (in development only)
/   reloading browser in development when file changes in the directories
/   livereload is watching are being noticed
- if Rails.env.development?
    javascript:
      document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')
