/ application/login
.login-page
  .headline     Wow!
  .sub-headline That's courageous, young Knight!

  p.
    Knight, as a Wiki, flourished by your contributions.
    In order to participate, you can <b>sign up and login
    through Github</b>. We don't request and store any
    more information than nescessary to allow Knight
    to work smoothly and store individual contributions
    to Knight.

    Only information that is publicly displayed on your
    Github page can be accessed and may be stored by
    Knight. This for sure excludes any information
    about private repos. We do not ask for any permission
    to access these information, so Knight cannot access it.

  / sign up and login with one link
  .github-login-link= link_to auth_at_provider_path(provider: :github), class: 'radius button' do
      i.icon.icon-github-sign
      span Login with Github
