// application.sass

@import 'variables'
@import 'topbar'
@import 'ads'

// logo header
.logo_header
  max-width: 480px
  padding-right: 3rem
  margin: 1rem auto


// Alert Boxes
.alert-box
  margin-top: 1.4rem

// Main (whole body)
#main

// Login View
.login_with_github
  .octocat
    width: 100px
    vertical-align: middle
    margin-right: 8px
  .login
    font:
      size: 20px
      weight: bold

// Show all matching Link
.js_show_all_matching_items
  cursor: pointer

// Navbars
.navbar_langs
  margin-top: 1.2rem
.navbar_paths

// Sort Lists
dl.sort_list
  display: block
  width: auto
  overflow: hidden
  margin: -4px 0 0 -9px
  padding: 1rem 0

  dt, dd
    float: left
    display: inline
    margin-left: 9px
    padding: 4px 0 5px

  dt
    color: #999
    font-weight: normal
  dd
    text-decoration: none
    @include border-radius(1000px)
    cursor: pointer

    // Make it look like a link
    color: $mainColor
    &:hover
      color: darken($mainColor, 15%)

  dd.active
    font-weight: bold
    background: $mainColor
    color: #fff
    padding: 4px 10px 5px

// Languages List
dl.languages_list
  display: block
  width: auto
  clear: both

  dt, dd
    float: left
    display: inline
    margin-left: 9px
    margin-top: 1.2rem
    clear: both
  dt
    color: #555
    font-weight: bold
  dd
    a
      text-decoration: none
      @include border-radius(1000px)
      font-weight: bold
      padding-left: 12px
      &:hover
        text-decoration: underline

    &.active a
      font-weight: bold
      background: #2ba6cb
      color: #fff
      padding: 5px 12px 6px
      margin-top: 1.4rem !important
      &:hover
        text-decoration: none

  dd:last-child
    margin-bottom: 1rem !important

// Colors for Languages List
dl.languages_list
  .ruby
    dd.active
      a
        background: $rubyColor
        &:hover
          background: lighten($rubyColor, 8%)

  .js
    dd.active
      a
        background: $jsColor
        &:hover
          background: lighten($jsColor, 8%)

  .design
    dd.active
      a
        background: $designColor
        &:hover
          background: lighten($designColor, 4%)

//select
//  font-size: 1.6rem !important

// jQuery Timeago
// remove dots of abbr
abbr.timeago
  border-bottom: none
  cursor: default