// application.sass

@import 'topbar'

// Pictos Icons
[data-icon]:before
  font-family: 'Pictos Custom'
  content: attr(data-icon)
  -webkit-font-smoothing: antialiased
  vertical-align: middle
  margin-right: 3px