// application.sass

@import 'topbar'

// Pictos Icons
[data-icon]:before
  font-family: 'Pictos Custom'
  content: attr(data-icon)
  -webkit-font-smoothing: antialiased
  vertical-align: middle
  margin-right: 3px
  line-height: 0

.search
  border: 1px solid #999
  color: #545C5F
  font-family: $helvetica
  font-size: 16px
  letter-spacing: 0.5px
  margin: 0
  padding: 8px 8px 7px
  width: 100%
  margin-right: 8px


.sort
  cursor: pointer
  margin-left: 5px

  &.sorted
    font-weight: bold

// Spacer
.spacer
  margin: 0
  padding: 0
  border: 0
  height: 0
  width: 10px
  border-bottom: 1px solid #ccc
  margin: 6px 0 5px

// Main
#main
  padding-top: 6px


// Login View
.login_with_github
  .octocat
    width: 100px
    vertical-align: middle
    margin-right: 8px
  .login
    font:
      size: 20px
      weight: bold

// Logo
.knight_logo
  width: 450px
  height: 177px
  margin: 10px 0 6px

.js_show_all_matching_items
  cursor: pointer