.markdown-body
  code, tt
    margin: 0 2px
    padding: 0 5px
    white-space: pre-line
    word-wrap: break-word
    border: 1px solid #eaeaea
    background-color: #f8f8f8
    border-radius: 3px
  pre code
    margin: 0
    padding: 0
    white-space: pre
    border: none
    background: transparent
  .highlight pre
    background-color: #f8f8f8
    border: 1px solid #ccc
    font-size: 13px
    line-height: 19px
    overflow: auto
    padding: 6px 10px
    border-radius: 3px
  pre
    background-color: #f8f8f8
    border: 1px solid #ccc
    font-size: 13px
    line-height: 19px
    overflow: auto
    padding: 6px 10px
    border-radius: 3px
    code, tt
      background-color: transparent
      border: none

.highlight
  background: #fff
  .c
    color: #998
    font-style: italic
  .err
    color: #a61717
    background-color: #e3d2d2
  .k, .o
    font-weight: bold
  .cm
    color: #998
    font-style: italic
  .cp
    color: #999
    font-weight: bold
  .c1
    color: #998
    font-style: italic
  .cs
    color: #999
    font-weight: bold
    font-style: italic
  .gd
    color: #000
    background-color: #fdd
    .x
      color: #000
      background-color: #faa
  .ge
    font-style: italic
  .gr
    color: #a00
  .gh
    color: #999
  .gi
    color: #000
    background-color: #dfd
    .x
      color: #000
      background-color: #afa
  .go
    color: #888
  .gp
    color: #555
  .gs
    font-weight: bold
  .gu
    color: #800080
    font-weight: bold
  .gt
    color: #a00
  .kc, .kd, .kn, .kp, .kr
    font-weight: bold
  .kt
    color: #458
    font-weight: bold
  .m
    color: #099
  .s
    color: #d14
  .na
    color: #008080
  .nb
    color: #0086B3
  .nc
    color: #458
    font-weight: bold
  .no
    color: #008080
  .ni
    color: #800080
  .ne, .nf
    color: #900
    font-weight: bold
  .nn
    color: #555
  .nt
    color: #000080
  .nv
    color: #008080
  .ow
    font-weight: bold
  .w
    color: #bbb
  .mf, .mh, .mi, .mo
    color: #099
  .sb, .sc, .sd, .s2, .se, .sh, .si, .sx
    color: #d14
  .sr
    color: #009926
  .s1
    color: #d14
  .ss
    color: #990073
  .bp
    color: #999
  .vc, .vg, .vi
    color: #008080
  .il
    color: #099
  .gc
    color: #999
    background-color: #EAF2F5

.type-csharp .highlight
  .k, .kt
    color: #00F
  .nf
    color: #000
    font-weight: normal
  .nc
    color: #2B91AF
  .nn
    color: #000
  .s, .sc
    color: #A31515

#readme.rst
  .borderless
    border: 0
  table.borderless
    td, th
      border: 0
    td, th
      padding: 0 .5em 0 0!important
  .first
    margin-top: 0!important
  .last, .with-subtitle
    margin-bottom: 0!important
  .hidden
    display: none
  a.toc-backref
    text-decoration: none
    color: black
  blockquote.epigraph
    margin: 2em 5em
  dl.docutils dd
    margin-bottom: .5em
  div
    &.abstract
      margin: 2em 5em
      p.topic-title
        font-weight: bold
        text-align: center
    &.admonition, &.attention, &.caution, &.danger, &.error, &.hint, &.important, &.note, &.tip, &.warning
      margin: 2em
      border: medium outset
      padding: 1em
    &.admonition p.admonition-title, &.hint p.admonition-title, &.important p.admonition-title, &.note p.admonition-title, &.tip p.admonition-title
      font-weight: bold
      font-family: sans-serif
    &.attention p.admonition-title, &.caution p.admonition-title, &.danger p.admonition-title, &.error p.admonition-title, &.warning p.admonition-title
      color: red
      font-weight: bold
      font-family: sans-serif
    &.dedication
      margin: 2em 5em
      text-align: center
      font-style: italic
      p.topic-title
        font-weight: bold
        font-style: normal
    &.figure
      margin-left: 2em
      margin-right: 2em
    &.footer, &.header
      clear: both
      font-size: smaller
    &.line-block
      display: block
      margin-top: 1em
      margin-bottom: 1em
      div.line-block
        margin-top: 0
        margin-bottom: 0
        margin-left: 1.5em
    &.sidebar
      margin: 0 0 .5em 1em
      border: medium outset
      padding: 1em
      background-color: #ffe
      width: 40%
      float: right
      clear: right
      p.rubric
        font-family: sans-serif
        font-size: medium
    &.system-messages
      margin: 5em
      h1
        color: red
    &.system-message
      border: medium outset
      padding: 1em
      p.system-message-title
        color: red
        font-weight: bold
    &.topic
      margin: 2em
  h1.section-subtitle, h2.section-subtitle, h3.section-subtitle, h4.section-subtitle, h5.section-subtitle, h6.section-subtitle
    margin-top: .4em
  h1.title, h2.subtitle
    text-align: center
  hr.docutils
    width: 75%
  img.align-left, .figure.align-left, object.align-left
    clear: left
    float: left
    margin-right: 1em
  img.align-right, .figure.align-right, object.align-right
    clear: right
    float: right
    margin-left: 1em
  img.align-center, .figure.align-center, object.align-center
    display: block
    margin-left: auto
    margin-right: auto
  .align-left
    text-align: left
  .align-center
    clear: both
    text-align: center
  .align-right
    text-align: right
  div.align-right
    text-align: left
  ol.simple, ul.simple
    margin-bottom: 1em
  ol
    &.arabic
      list-style: decimal
    &.loweralpha
      list-style: lower-alpha
    &.upperalpha
      list-style: upper-alpha
    &.lowerroman
      list-style: lower-roman
    &.upperroman
      list-style: upper-roman
  p
    &.attribution
      text-align: right
      margin-left: 50%
    &.caption
      font-style: italic
    &.credits
      font-style: italic
      font-size: smaller
    &.label
      white-space: nowrap
    &.rubric
      font-weight: bold
      font-size: larger
      color: maroon
      text-align: center
    &.sidebar-title
      font-family: sans-serif
      font-weight: bold
      font-size: larger
    &.sidebar-subtitle
      font-family: sans-serif
      font-weight: bold
    &.topic-title
      font-weight: bold
  pre
    &.address
      margin-bottom: 0
      margin-top: 0
      font: inherit
    &.literal-block, &.doctest-block
      margin-left: 2em
      margin-right: 2em
  span
    &.classifier
      font-family: sans-serif
      font-style: oblique
    &.classifier-delimiter
      font-family: sans-serif
      font-weight: bold
    &.interpreted
      font-family: sans-serif
    &.option
      white-space: nowrap
    &.pre
      white-space: pre
    &.problematic
      color: red
    &.section-subtitle
      font-size: 80%
  table
    &.citation
      border-left: solid 1px gray
      margin-left: 1px
    &.docinfo
      margin: 2em 4em
    &.docutils
      margin-top: .5em
      margin-bottom: .5em
    &.footnote
      border-left: solid 1px black
      margin-left: 1px
    &.docutils
      td, th
        padding-left: .5em
        padding-right: .5em
        vertical-align: top
    &.docinfo
      td, th
        padding-left: .5em
        padding-right: .5em
        vertical-align: top
    &.docutils th.field-name, &.docinfo th.docinfo-name
      font-weight: bold
      text-align: left
      white-space: nowrap
      padding-left: 0
  h1 tt.docutils, h2 tt.docutils, h3 tt.docutils, h4 tt.docutils, h5 tt.docutils, h6 tt.docutils
    font-size: 100%
  ul.auto-toc
    list-style-type: none