// topbar.sass

@import 'variables'
@import 'bourbon'

// Variables
$topbarHeight: 51px

#topbar
  line-height:  $topbarHeight
  background:   $rubyColor
  color:        $rubyTextColor
  font-weight: bold

  // knight text logo
  .knight_logo_container
    .knight_logo
      max-height: $topbarHeight
      max-width: 124px
      padding: 11px 0 0 0
      margin: 0 1.2rem 0 0
      vertical-align: top

  // navigation
  .nav
    // position: relative
    // top: 3px

  // buttons
  .nav-button a
    padding: 2rem 1.2rem
    color: $rubyTextColor

    // active
    &.active
      background: $rubyActiveColor
      color: $rubyActiveTextColor

    // hover
    &:hover
      background: $rubyHoverColor
      color: $rubyHoverTextColor !important


  // happy day
  .happyday

  // login
  .login
    margin-left: 1rem
  // icon
  .icon
    font-size: 2.4rem
    position: relative
    top: 3px
    margin-right: 0.54rem
  .icon-github-sign
    margin-right: 0.6rem

//
  #login
    // Avatar when developer is logged in
    .avatar
      // Styles for rounded corners on background-images as seen here: www.bram.us/sandbox/roundedcorners/
      float: left
      height: 40px
      width: 40px
      margin: 5px 7px 0 0

      background-size: 40px 40px
      background-repeat: no-repeat

      @include border-radius(8px)
      @include box-shadow(#000 0 0 3px)

    // Avatar with generic greeting message
    .github_avatar
      background-color: #eee
      background-image: image-url('github/Octocat.png')
      float: right
      height: 40px
      width: 40px
      margin: 5px 7px 0 0

      background-size: 40px 40px
      background-repeat: no-repeat

      @include border-radius(8px)
      @include box-shadow(#000 0 0 3px)