/ layouts/_head
meta charset='utf-8'

/ dns prefetch
/   (via http://html5boilerplate.com/docs/DNS-Prefetching/)
link rel="dns-prefetch" href="//ajax.googleapis.com"
link rel="dns-prefetch" href="//www.google-analytics.com"
link rel="dns-prefetch" href="//google-analytics.com"
link rel="dns-prefetch" href="//github.com"
link rel="dns-prefetch" href="https://github.com"

/ set title
/   override defaults by calling content_for :title, "My new title"
- title = yield :title
- title ||= "#{ @category.full_name } &middot; Knight".html_safe if @category
- title ||= "#{ @repo.full_name } &middot; Categories and Alternatives &middot; Knight"
- title ||= "Noteable Plugins for Web and Mobile Development &middot Knight".html_safe

/ title and description
title = title
meta name='description' content='Notable Plugins for Web and Mobile Development. Like AirBnB but for Space Travel.'

meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'
meta name='viewport' content='width=device-width'
meta name='robots' content='index, follow'
meta name='keywords' content='find ruby gems, rubygems, ruby, gem, javascript, ios, cocoapods, wiki, find, search, alternative, alternatives, rails, jquery, node.js, web development, mobile, plugin'

/ TODO: exclude certain paths (like tos etc.) from indexing
/ using robots.txt

/ favicon
/ IE uses favicon.ico in root
/ Browsers use favicon.png
/ iOS and Android look for filenames
link rel='icon' href=image_path('favicon/favicon.png') type='image/png'

/ author credits in humans.txt
link rel='author' href='/humans.txt'

/ my stylesheets
= stylesheet_link_tag 'application'

/ javascripts
/ jquery
= javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js'

/ timeago in head
javascript:
  jQuery(document).ready(function() {
   $('abbr.timeago').timeago();
  });

/ my javascripts
= javascript_include_tag 'application'

/ csrf meta tags
= csrf_meta_tags unless response.cache_control[:public]

/ google analytics
- if Rails.env.production?
  javascript:
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-33644736-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();


