/ layouts/_head
meta charset='utf-8'

/ dns prefetching
= dns_prefetch_tag('//ajax.googleapis.com')
= dns_prefetch_tag('//www.google-analytics.com')
= dns_prefetch_tag('//google-analytics.com')
= dns_prefetch_tag('//github.com')

/ title and description
title = page_title
meta name='description' content='Notable Ruby gems and JavaScript libraries. Like AirBnB but for Space Travel.'

meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'
meta name='viewport' content='width=device-width'
meta name='keywords' content='ruby, rails, javascript, jquery, find, search'

/ stylesheets
= stylesheet_link_tag '//fonts.googleapis.com/css?family=Open+Sans:400,600,700,300'
= stylesheet_link_tag '//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css'
= stylesheet_link_tag 'application'

/ javascripts
= render 'javascripts/javascripts_in_head'
= javascript_include_tag 'application'

/ csrf meta tags
= csrf_meta_tags unless response_publicly_cached?

/ TODO: favicon
/ IE uses favicon.ico in root
/ Browsers use favicon.png
/ iOS and Android look for filenames
/ link rel='icon' href=image_path('favicon/favicon.png') type='image/png'